@import "tailwindcss";
@import "uniwind";
@import "heroui-native/styles";

@source './node_modules/heroui-native/lib';

@theme {
  --white: oklch(100% 0 0);
  --black: oklch(0% 0 0);
  --snow: oklch(0.9911 0 0);
  --eclipse: oklch(0.2103 0.0059 285.89);

  --radius: 0.5rem;

  --opacity-disabled: 0.5;

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

@layer theme {
  :root {
    @variant light {
      --background: oklch(0.95 0 0);
      --foreground: var(--eclipse);

      --surface: var(--white);
      --surface-foreground: var(--foreground);

      --overlay: var(--white);
      --overlay-foreground: var(--foreground);

      --muted: oklch(55.2% 0.016 285.938);

      --default: oklch(94% 0.001 286.375);
      --default-foreground: var(--eclipse);

      --accent: oklch(0.6204 0.195 253.83);
      --accent-foreground: var(--snow);

      --field-background: var(--white);
      --field-foreground: oklch(0.2103 0.0059 285.89);
      --field-placeholder: var(--muted);
      --field-border: transparent;

      --success: oklch(0.7329 0.1935 150.81);
      --success-foreground: var(--eclipse);

      --warning: oklch(0.7819 0.1585 72.33);
      --warning-foreground: var(--eclipse);

      --danger: oklch(0.6532 0.2328 25.74);
      --danger-foreground: var(--snow);

      --segment: var(--white);
      --segment-foreground: var(--eclipse);

      --border: oklch(0 0 0 / 0%);
      --divider: oklch(72% 0.004 286.32);
      --link: var(--foreground);

      --card: var(--surface);
      --card-foreground: var(--surface-foreground);
      --popover: var(--overlay);
      --popover-foreground: var(--overlay-foreground);
      --primary: var(--accent);
      --primary-foreground: var(--accent-foreground);
      --secondary: var(--default);
      --secondary-foreground: var(--default-foreground);
      --input: var(--border);
      --ring: var(--focus);
    }

    @variant dark {
      --background: var(--black);
      --foreground: var(--snow);

      --surface: oklch(0.2103 0.0059 285.89);
      --surface-foreground: var(--foreground);

      --overlay: oklch(0.2563 0.0058 271.19);
      --overlay-foreground: var(--foreground);

      --muted: oklch(70.5% 0.015 286.067);

      --default: oklch(27.4% 0.006 286.033);
      --default-foreground: var(--snow);

      --accent: oklch(0.6204 0.195 253.83);
      --accent-foreground: var(--snow);

      --field-background: var(--default);
      --field-foreground: var(--foreground);
      --field-placeholder: var(--muted);
      --field-border: transparent;
      --success: oklch(0.7329 0.1935 150.81);
      --success-foreground: var(--eclipse);

      --warning: oklch(0.8203 0.1388 76.34);
      --warning-foreground: var(--eclipse);

      --danger: oklch(0.594 0.1967 24.63);
      --danger-foreground: var(--snow);

      --segment: oklch(0.3964 0.01 285.93);
      --segment-foreground: var(--foreground);

      --border: oklch(1 0 0 / 0%);
      --divider: oklch(38% 0.006 286.033);
      --link: var(--foreground);

      --card: var(--surface);
      --card-foreground: var(--surface-foreground);
      --popover: var(--overlay);
      --popover-foreground: var(--overlay-foreground);
      --primary: var(--accent);
      --primary-foreground: var(--accent-foreground);
      --secondary: var(--default);
      --secondary-foreground: var(--default-foreground);
      --input: var(--border);
      --ring: var(--focus);
    }
  }
}
